In [1]:
import numpy as np
import pandas as pd

In [2]:
train_df = pd.read_csv("../EK-annotations/EPIC_100_train.csv")
train_df.head()

,narration_id,participant_id,video_id,narration_timestamp,start_timestamp,stop_timestamp,start_frame,stop_frame,narration,verb,verb_class,noun,noun_class,all_nouns,all_noun_classes
0,P01_01_0,P01,P01_01,00:00:01.089,00:00:00.14,00:00:03.37,8,202,open door,open,3,door,3,['door'],[3]
1,P01_01_1,P01,P01_01,00:00:02.629,00:00:04.37,00:00:06.17,262,370,turn on light,turn-on,6,light,114,['light'],[114]
2,P01_01_10,P01,P01_01,00:00:23.340,00:00:24.97,00:00:26.20,1498,1572,open drawer,open,3,drawer,8,['drawer'],[8]
3,P01_01_100,P01,P01_01,00:07:57.919,00:07:59.75,00:08:00.88,28785,28852,take cup,take,0,cup,13,['cup'],[13]
4,P01_01_101,P01,P01_01,00:08:00.020,00:08:01.47,00:08:02.21,28888,28932,open cupboard,open,3,cupboard,3,['cupboard'],[3]

In [3]:
train_df["narration"].unique()

array(['open door', 'turn on light', 'open drawer', ...,
       'pick up shredded paper from floor', 'put shredded paper in bin',
       'pour out boiled water'], dtype=object)

In [4]:
train_df["narration"].nunique()

15968

In [5]:
train_df.shape

(67217, 15)

In [6]:
participant_df = train_df[train_df["participant_id"]=="P01"]
video_df = participant_df[participant_df["video_id"]=="P01_102"]

In [7]:
video_df["narration"].unique()

array(['take knife and plate', 'move spatula and colander', 'take knife',
       'wipe surface', 'move glass', 'move lid',
       'throw dust into the bin', 'wipe hand', 'put down cloth',
       'wash knife', 'pour washing up liquid into hand', 'wash hands',
       'turn off tap', 'rinse hands', 'take rag', 'dry hands',
       'put down rag', 'put down knife', 'take lid',
       'put lid onto container', 'close lid', 'take container',
       'open fridge', 'put container into fridge', 'close fridge',
       'take fork', 'wash fork', 'put down fork', 'take plate',
       'turn on tap', 'wash plate', 'open bin', 'take colander',
       'put down plate', 'wash colander', 'put down colander',
       'take spatula', 'rinse spatula', 'put down spatula', 'rinse fork',
       'rinse knife', 'move orange skin into the bin', 'rinse colander',
       'adjust tap', 'rinse plate', 'take wok',
       'pour washing up liquid into wok', 'take sponge', 'put down wok',
       'wash wok', 'close bin', 'rinse wok', 'put down sponge',
       'empty wok', 'take cloth', 'rinse cloth', 'wipe sink',
       'wash spatula', 'rinse sponge', 'take food', 'put down food',
       'take food and fork', 'put down food and fork', 'take pot holder',
       'put down pot holder', 'move container while wiping surface',
       'put down container'], dtype=object)

In [8]:
video_df["narration"].value_counts()

narration
wipe surface                 8
turn off tap                 6
rinse cloth                  5
rinse wok                    4
take knife                   4
                            ..
open bin                     1
move spatula and colander    1
put down colander            1
take spatula                 1
put down container           1
Name: count, Length: 67, dtype: int64

In [9]:
video_df.head(15)

,narration_id,participant_id,video_id,narration_timestamp,start_timestamp,stop_timestamp,start_frame,stop_frame,narration,verb,verb_class,noun,noun_class,all_nouns,all_noun_classes
1896,P01_102_0,P01,P01_102,00:00:01.100,00:00:00.54,00:00:02.23,27,111,take knife and plate,take,0,knife,4,"['knife', 'plate']","[4, 2]"
1897,P01_102_1,P01,P01_102,00:00:07.600,00:00:07.49,00:00:09.05,374,452,move spatula and colander,move,11,spatula,20,"['spatula', 'colander']","[20, 39]"
1898,P01_102_10,P01,P01_102,00:00:29.851,00:00:29.66,00:00:30.84,1483,1542,take knife,take,0,knife,4,['knife'],[4]
1899,P01_102_100,P01,P01_102,00:03:44.600,00:03:44.45,00:03:45.00,11222,11250,wipe surface,wipe,2,surface,42,['surface'],[42]
1900,P01_102_101,P01,P01_102,00:03:45.600,00:03:45.61,00:03:46.01,11280,11300,move glass,move,11,glass,10,['glass'],[10]
1901,P01_102_102,P01,P01_102,00:03:46.851,00:03:46.06,00:03:46.56,11303,11328,wipe surface,wipe,2,surface,42,['surface'],[42]
1902,P01_102_103,P01,P01_102,00:03:48.600,00:03:46.71,00:03:47.76,11335,11388,wipe surface,wipe,2,surface,42,['surface'],[42]
1903,P01_102_104,P01,P01_102,00:03:50.100,00:03:48.21,00:03:49.21,11410,11460,wipe surface,wipe,2,surface,42,['surface'],[42]
1904,P01_102_105,P01,P01_102,00:03:51.101,00:03:49.91,00:03:54.30,11495,11715,wipe surface,wipe,2,surface,42,['surface'],[42]
1905,P01_102_106,P01,P01_102,00:03:55.350,00:03:55.22,00:03:55.74,11761,11787,move lid,move,11,lid,6,['lid'],[6]
1906,P01_102_107,P01,P01_102,00:03:57.350,00:03:56.60,00:03:57.60,11830,11880,throw dust into the bin,throw-into,13,dust,54,"['dust', 'bin']","[54, 36]"
1907,P01_102_108,P01,P01_102,00:03:57.851,00:03:57.80,00:03:58.95,11890,11947,wipe hand,wipe,2,hand,11,['hand'],[11]
1908,P01_102_109,P01,P01_102,00:03:59.850,00:03:59.64,00:04:00.35,11982,12017,put down cloth,put-down,1,cloth,17,['cloth'],[17]
1909,P01_102_11,P01,P01_102,00:00:30.850,00:00:30.91,00:00:37.32,1545,1866,wash knife,wash,2,knife,4,['knife'],[4]
1910,P01_102_110,P01,P01_102,00:04:00.850,00:04:00.26,00:04:01.24,12013,12062,pour washing up liquid into hand,pour,9,liquid:washing:up,22,"['liquid:washing:up', 'hand']","[22, 11]"